.banner-box {
  height: 40vh;
  background-color: black;
  color: #fff;
  padding: 3rem;

  .banner {
    width: 40%;
    h1 {
      font-size: 48px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 18px;
    }
  }
}

.movies {
  background-color: black;
}

.card {
  width: 200px;
  cursor: pointer;
  transition: transform 0.5s;
  &:hover {
    transform: translateY(-10px) scale(1.1);
  }
}
.section-row {
  padding: 2rem;
  h2 {
    color: #fff;
    font-weight: 700;
  }
  .row {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    overflow-x: scroll;
  }
}
.img-box {
  color: #fff;
}

.img-box {
  img {
    width: 220px;
    height: 350px;
  }
}
